/**
 * @name SoftX Sparkls
 * @author Sparkl#9116
 * @version 6.6.6
 * @description An SoftX edition by Sparkl
 * @invite None
 * @authorId 715439542672293888
 * @source https://github.com/DiscordStyles/SoftX
*/

@import url('https://fonts.googleapis.com/css2?family=cursive:wght@100;300;400;500;700&display=swap');
@import url('https://discordstyles.github.io/SoftX/SoftX.css');
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/Nglfni6.png'); /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
  --background-blur: 0px; /* Blur intensity of --background-image */
  --opacity: 0.8; /* Opacity of overall app. | Default: .85 */
  --accent: 33,150,225; /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
  --glow-intensity: 1; /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
  --font: cursive; /* Custom font | Default: 'Inter' */
  --channels-width: 200px; /* Width of the channels list. | Default: 300px */
  --guilds-width: 60px; /* Width of the server list. | Default: 105px */
  --members-width: 250px; /* Width of the members list. | Default: 280px */
  --server-size: 45px; /* Size of the servers inside the server list. | Default: 50px */
  --chat-avatar-size: 30px; /* Size of the chat avatars. | Default: 32px */
  --rs-small-spacing: 2px; /* Gap between avatar and status for members list/dms | MUST end in px */
  --rs-medium-spacing: 2px; /* Gap between avatar and status for User popout | MUST end in px */
  --rs-large-spacing: 2px; /* Gap between avatar and status for User profiles | MUST end in px */
  --rs-small-width: 1.5px; /* Ring width | Default: 1.5px */
  --rs-medium-width: 1.5px;
  --rs-large-width: 1.5px;
  --rs-avatar-shape: 35%; /* 50% for round - 0% for square */
  --rs-online-color: #2196E1; /* Colour for online status */
  --rs-idle-color: #E18921; /* Colour for idle status */
  --rs-dnd-color: #E12121; /* Colour for dnd status */
  --rs-offline-color: #0D4467; /* Colour for offline status */
  --rs-phone-color: #2196E1CC; /* Colour of the ring and phone icon when a user is on their phone */
  --rs-streaming-color: #7221E1; /* Colour for streaming status */
  --rs-phone-visible: block; /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
  --rs-invisible-color: #747f8d; /* Colour for invisible status - Note: this will only show for your own invisibility */
}

/* Any custom CSS below here */


